Xft.autohint:  true
Xft.antialias: true
Xft.hinting:   true
Xft.hintstyle: hintslight
Xft.rgba:      rgb
Xft.lcdfilter: lcddefault
Xft.dpi:       96

!xterm*faceName: terminus-12
xterm*faceName: inconsolata-10
xterm*utf8: 1

!URxvt*font: terminus-14
URxvt*font: xft:inconsolata:pixelsize=13
URxvt.scrollstyle: plain
URxvt.skipScroll: true
! setting these to nothing ensures no perl extensions are loaded
URxvt*perl-ext:
URxvt*perl-ext-common:

dzen2.font:       -*-fixed-medium-r-*-*-12-*-*-*-*-*-*-*

#include "/home/joe/.config/colorthemes/clean"
! #include "/home/joe/.config/colorthemes/solarized-dark"
! #include "/home/joe/.config/colorthemes/solarized-light"
