Xft.autohint:  true
Xft.antialias: true
Xft.hinting:   true
Xft.hintstyle: hintslight
Xft.rgba:      rgb
Xft.lcdfilter: lcddefault
Xft.dpi:       96

!xterm*faceName: terminus-14
xterm*faceName: inconsolata-10
xterm*utf8: 1

URxvt*font: xft:anonymous pro:pixelsize=24, xft:inconsolata:pixelsize=18, terminus-14
URxvt.scrollstyle: plain
URxvt.skipScroll: true
! setting these to nothing ensures no perl extensions are loaded
URxvt*perl-ext:
URxvt*perl-ext-common:
! URxvt colors
URxvt*intensityStyles: false
URxvt*fading: 40
URxvt*fadeColor: #002b36


dzen2.font: -*-fixed-medium-r-*-*-12-*-*-*-*-*-*-*

! General:

! Terminal colors from the solarized colortheme
*background: #002b36
*foreground: #839496
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

*color0: #93a1a1
*color1: #dc322f
*color2: #859900
*color3: #b58900
*color4: #268bd2
*color5: #d33682
*color6: #2aa198
*color7: #eee8d5
*color8: #002b36
*color9: #cb4b16
*color10: #586e75
*color11: #657b83
*color12: #839496
*color13: #6c71c4
*color14: #93a1a1
*color15: #fdf6e3
